requests==2.31.0
clabe==1.2.4
lxml==4.9.1
dataclasses>=0.6;python_version<"3.7"
pytest==6.2.5
pytest-vcr==1.0.2
pytest-cov==3.0.0
black==22.3.0
flake8
isort[pipfile]==5.10.1
Flask
mysql-connector-python
gunicorn

